:root {
  --background: #5C4033;
  --panel: #FDF6E3;        
  --accent: #A0522D;       
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #3B2C26;
  --panel: #2A1F1A;        
  --accent: #8B4513; 
  --button: #9CCC65;        
  --foreground: #FDF6E3;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: system-ui, sans-serif;
  color: var(--foreground);
  background: var(--background);
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.panel {
  background: var(--panel);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
}
